@import url(https://fonts.googleapis.com/css?family=Lato);
.commonColorCls {
  background-color: #0F8EC6;
}
.loginFormCls {
  width: 47%;
}
.editEventCls {
  cursor: pointer;
}
.inputCls {
  border-top: white;
  border-left: white;
  border-right: white;
  border-bottom-color: lightgrey;
  border-bottom-width: 1px;
}
html {
  overflow-x: hidden;
  word-wrap: normal;
}
body {
  /*color: green;*/
  color: #0F8EC6;
  text-align: center;
  padding-right: 0px;
  font-family: 'Lato', sans-serif !important;
  /*overflow: hidden;*/
}
nav {
  background-color: #0F8EC6;
}
header >h2 {
  margin-top: 5px;
}
.monthYearCls {
  text-align: center;
  font-weight: normal;
  font-size: 160%;
  padding-top: 6px;
  padding-bottom: 3px;
}
.loggedInUserDisp {
  float: right;
  color: white;
  padding-top: 5px;
  padding-right: 50px;
  font-size: 20px;
}
.btn-color {
  color: green;
  margin: 0px;
}
.commonRow {
  text-align: center;
}
.col-xs-2 {
  /*width: 10%*/
  height: 135px;
  padding-right: 5px;
  padding-left: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  cursor: pointer;
  width: 14%;
}
.navBarCls, .weekdays {
  background-color: #0F8EC6
}

/*#calendar .row>section:first-child{
	    margin-left: 20%;
}*/

.date_month {
  padding-top: 5px;
  padding-right: 5px;
  text-align: end;
  font-weight: bold;
  font-size: 18px;
}
.show_event {
  height: 50%;
}
.addevent_header {
  text-align: left;
  padding-left: 2%;
}
.event_wrap {
  overflow: auto;
  overflow-x: hidden;
  height: 50% !important;
}
hr {
  border-top: 1px solid rgba(14, 14, 14, 0.18);
}
.user {
  float: right;
  padding: 0% 2%;
}
.event_inputs {
  clear: both;
  text-align: left;
  /*margin-left: 2%;*/
  margin-bottom: 2%;
}
#event_name {
  /*border-radius: 5px;*/
  outline: 0;
  /*border-color: rgb(92, 184, 99);*/
  width: 60%
}
.scroll_window {}
.time_input {
  padding-left: .5%;
  margin-left: 1%;
  /*border-radius: 20px;*/
  outline: 0;
  /*border-color: rgb(92, 184, 99);*/
  font-weight: bold;
  width: 8%;
}
.time_label {
  margin-left: 6%
}
.myDropDownIconCls {
  padding-left: 5px;
}
.myDropdown {
  /*border-radius: 10%;*/
  width: 15%;
  float: right;
  margin-right: 50%;
}
.btn-close {
  margin-top: 5%;
}
.event_pane {
  height: 70% !important;
  overflow: auto;
}
.event_color_red {
  color: white;
}
.event_color_green {
  color: white;
}
.cursor_point {
  cursor: pointer;
}
.cursor_ini {
  cursor: initial;
}
.glyphicon-remove-circle {
  color: orangered;
  top: 4px;
}
#result_events {
  position: relative;
  font-weight: bold;
  text-align: left;
}
.btn-block {
  margin: auto;
  width: 50%
}
.form-control {
  margin-bottom: 3%
}

/*class to differentiate weekdays and weekends*/

.themeColor: {
  background-color: #0F8EC6 !important;
}
.today {
  background-color: #5CB85C !important;
}
.holiday {
  background-color: #EEEEEE;
  color: black !important;
  pointer-events: none;
}
.weekdays {
  /*background-color: #0F8EC6;*/
  color: white !important;
}

/*.weekdays:hover {
  opacity: .70;
}*/

.hoverText {
  font-size: 15px;
  color: red;
  top: -7px;
  position: absolute;
  /*display: none;*/
  z-index: 5;
}
.weekdays > .eventClass:hover > .hoverText {
  display: block;
}

/*changed button color*/

.save_event {
  position: relative;
  float: right;
  margin-top: 1%;
  margin-right: 0%;
  margin-bottom: 1%;
  background-color: #0F8EC6 !important;
  color: white;
}
.save_event:hover {
  color: white;
}
.eachConfEvent {
  /*border: 1px solid lightgreen;*/
  /*color: #fff;*/
  width: 100%;
  height: 121px;
  overflow-y: auto;
  overflow-x: hidden;
  display: inline-block;
}
#hideAndShowDiv {
  padding-left: 0px;
  padding-right: 0px;
  width: 98%;
  height: 126px;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: nowrap;
  display: none;
}

/*css for event list*/


/*event List slideInDown*/

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

/*end*/

.eachConfEvent::-webkit-scrollbar {
  width: 5px;
}

/* Track */

.eachConfEvent::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */

.eachConfEvent::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 0, 0, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

/*end*/


/*scroll for confRooms*/

.filterTheConfRooms::-webkit-scrollbar {
  width: 5px;
}

/* Track */

.filterTheConfRooms::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */

.filterTheConfRooms::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}
.filterTheConfRooms::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 0, 0, 0.4);
}

/*end*/


/*scroll for Login modal*/

.modal-body::-webkit-scrollbar {
  width: 5px;
}

/* Track */

.modal-body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */

.modal-body::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}
.modal-body::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 0, 0, 0.4);
}

/*end*/

.byColumn, .fromColumn, .toColumn, .addEvent {
  width: 23%;
  border: 1px solid blue;
  display: inline-flex;
  height: 50px;
}
.myTableRow {
  margin-right: 10px !important;
  /*margin-left: 10px !important;*/
  padding: 6px;
  padding-top: 2px;
}
.addButton {
  float: right;
}

/*.tableHead {
  width: 23% !important;
}
.tableColumn {
  width: 23% !important;
  text-align: left;
}
th, td {
  width: 30% !important;
}*/

.removeCls {
  cursor: pointer;
  padding-left: 50%;
  padding-right: 10px;
}
.imgLogoCls {
  margin: .2%;
  width: 11%;
  float: left;
}

/*.singleDayEventsCls {
  width: 100%;
  height: auto;
border: 1px dashed lightblue;
  background-image: url(../img/dark_wood.png);
}*/

.addEventCls {
  float: right;
}

/*end of css for event lis*/

.timeLabel {
  text-align: left;
  display: inline;
}
.totalEventsCls {
  cursor: pointer !important;
  font-size: 16px;
  margin-bottom: 0;
  /*padding-top: 80px;*/
  margin-top: 5%;
}
.plusSymbol {
  float: right;
  cursor: pointer;
}
.commonRow {
  margin-right: -30px;
  margin-left: 0px;
}
.calendarBody {
  padding-right: 0px !important;
}
.alert {
  padding: 0px;
  margin-bottom: 0px;
}
.daysHeading .daysHeadingDays {
  height: 30px !important;
  padding-top: 3px;
  font-size: 17px;
}
.daysHeading {
  margin-top: 55px;
}
.myContainer {
  padding-right: 0px;
  padding-left: 1px;
}
.addEventModalHeadCls {
  text-align: center;
  /*padding-left: 43%;*/
  font-size: 20px;
}
.monthYearDisplay {
  /*margin-top: 10px;*/
  /*border-radius: 10px;*/
  margin-left: 1px;
  margin-right: 0px;
}
.weekdays, .holiday {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.eventsConferenceOne, .eventsConferenceTwo {
  display: inline-flex;
  width: 45%;
  height: 70px;
}
.eventsConferenceOne div, .eventsConferenceTwo div {
  display: none;
  font-size: 17px;
}
.errorToDisp {
  /*display: none;*/
  color: red;
  padding-left: 9%;
}

/*Login page css*/

.bodyLogin {
  margin-top: 100px;
  width: 75%;
  margin-left: 18%;
  background-color: #243C4F;
}
.bodyRegister {
  margin-top: 70px;
  width: 100%;
  background-color: #243C4F;
}
.buttonSubmit {
  padding: 4px 16px;
}
.registerPageBackBtn {
  float: right;
  margin-bottom: 10px;
}
.submitBtn, .registerBtn {
  width: 49%;
}
.eventTypelabel {
  float: left;
}

/*Hoshi anim*/

.firstInputCls {
  float: left;
}
.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 1em;
  max-width: 47%;
  width: calc(100% - 2em);
  vertical-align: top;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-top: 12px;
}
.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  color: #aaa;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-appearance: none;
  /* for box shadows to show on iOS */
}
.input__field:focus {
  outline: none;
}

/* Hoshi */

.input--hoshi {
  overflow: hidden;
}
.input__field--hoshi {
  margin-top: 1em;
  /*padding: 0.85em 0.15em;*/
  width: 101%;
  background: transparent;
  color: #595F6E;
  font-size: 115%;
  font-weight: 300;
}
.input__label--hoshi {
  position: absolute;
  bottom: 0;
  left: 0;
  /*padding: 0 0.25em;*/
  width: 100%;
  height: calc(100% - 1em);
  text-align: left;
  pointer-events: none;
}
.input__label-content--hoshi {
  position: absolute;
}
.input__label--hoshi::before, .input__label--hoshi::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 10px);
  border-bottom: 1px solid #B9C1CA;
}
.input__label--hoshi::after {
  margin-top: 1px;
  border-bottom: 2px solid red;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}
.input__label--hoshi-color-1::after {
  border-color: #1852FC;
}

/*.input__label--hoshi-color-2::after {
  border-color: #1852FC;
}
.input__label--hoshi-color-3::after {
  border-color: hsl(20, 100%, 50%);
}*/

.input__field--hoshi:focus + .input__label--hoshi::after, .input--filled .input__label--hoshi::after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.input__field--hoshi:focus + .input__label--hoshi .input__label-content--hoshi, .input--filled .input__label-content--hoshi {
  -webkit-animation: anim-1 0.3s forwards;
  animation: anim-1 0.3s forwards;
}
.content span {
  padding-left: 0px;
}
@-webkit-keyframes anim-1 {
  50% {
    opacity: 0;
    -webkit-transform: translate3d(0.2em, 0, 0);
    transform: translate3d(1em, 0, 0);
  }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(-0.2em, -40%, 0);
    transform: translate3d(-1em, -40%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -40%, 0);
    transform: translate3d(0, -40%, 0);
  }
}
@keyframes anim-1 {
  50% {
    opacity: 0;
    -webkit-transform: translate3d(0.2em, 0, 0);
    transform: translate3d(1em, 0, 0);
  }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(-0.2em, -40%, 0);
    transform: translate3d(-1em, -40%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -40%, 0);
    transform: translate3d(0, -40%, 0);
  }
}

/*end of transition*/


/*buttons*/


/* Button 2c */

.btn-2c {
  border-radius: 5px;
}
.btn-2c:hover {
  box-shadow: 0 4px #55b555;
  top: 2px;
}
.btn-2c:active {
  box-shadow: 0 0 #55b555;
  top: 6px;
}
.timeSlotLabel {
  clear: both;
  float: left;
  font-size: 110%;
  padding-top: 2%;
}
.modalBody {
  height: 375px;
  height: auto;
  padding: 10px 30px;
}
.timeSlotGroupBtns {
  float: left;
  padding: 2%;
}
.closeBtnCls {
  /*text-decoration: underline;*/
  /*float: right;*/
  font-size: 18px;
  width: 15%;
  /*float: left;*/
  border-radius: 0;
  background-color: inherit;
  border: white;
  outline: 0px;
}
.saveBtnCls {
  /*float: right;*/
  font-size: 18px;
  /*padding: 12px;*/
  width: 15%;
  margin-right: 10px;
  border-radius: 0px;
}

/*.saveBtnCls {
  font-size: 18px;
  padding:12px;
  width: 50%;
  border-radius: 0px;
}*/

.timeSlotsPickBtns .active {
  background-color: red;
}
.aminitiesGroupBtns > .btn:last-child {
  margin-left: 15px;
}
.numOfParticipants {
  width: 100%;
  margin-bottom: 10px;
  display: block;
  float: left;
}
.numOfParticipants label {
  float: left;
}
.numOfParticipants input {
  float: left;
  outline: none;
}
.filterTheConfRooms {
  margin-bottom: 10px;
  clear: both;
  width: 100%;
  height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: nowrap;
  border: 1px solid;
  border: transparent;
  padding: 1%;
}
.confRooms {
  width: 24%;
  display: inline-table;
  padding: 5px;
  height: 20px !important;
  border: 1px solid #0F8EC6;
  float: left;
  margin: 1%;
  margin-right: 0;
  border-radius: 5px;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  margin-left: 0px;
}
.confRooms:hover {
  background-color: #0F8EC6;
  color: white;
}
.checked {
  background-color: #0F8EC6;
  color: white;
}

/*ZoomIn css*/

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  50% {
    opacity: 1;
  }
}
.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

/*end*/

.eventTitleCls {
  /*color: lightgrey;*/
}
.btnsCls {
  /*margin-top: 15px;*/
  text-align: right;
  display: block;
  clear: both;
  margin-bottom: 10px;
}
.filterCls {
  float: right;
  font-size: 20px;
  margin-bottom: 10px;
}
.dropDownCls {
  /*padding-top: 10px;*/
}
.dropDownElements {
  outline: none;
  background-color: white;
  display: block;
  margin-top: 20px;
  /*border: 0px white;*/
  border-top: white;
  border-left: white;
  border-right: white;
  width: 100%;
  padding: 2px;
}
.eventTypeCls {
  float: left;
}
.numTextCls {
  margin-left: 11px;
}
.myNavigationBar {
  min-height: 5% !important;
  margin-top: 12%;
  background-color: #fff !important;
  border-color: #fff !important;
  border: 0px solid transparent;
  width: 99.8%;
  margin-left: 0.2%;
}
.tabContentCls {
  margin-top: 2%;
}
.containerNavtab {
  width: 100%;
}
.tabs-ul {
  border-bottom: 0px;
}
.tabs-ul > li > a {
  padding: 2px 2px;
  margin-left: 2%;
  border: none;
  height: 10%;
  width: 11%;
  border-radius: 0px;
  /*color: #337ab7;*/
  outline: 0;
}
tbody > tr > th {
  text-align: center;
  border: transparent !important;
}
.tabs-ul > li.active > a, .tabs-ul > li.active > a:hover, .tabs-ul > li.active > a:focus {
  color: #337ab7;
  border: none;
  border-bottom: 2px solid #337ab7 !important;
}
.emailInviteCls {
  margin-left: 1%;
  width: 60%;
  padding-left: 1%;
  outline: none;
}
.summaryCls {
  margin-top: 35px;
  margin-bottom: 13px;
}
.emailInputCls {
  margin-bottom: 5%;
}
.logOutlinkCls {
  color: #fff;
}
.columnCls {
  padding-left: 0;
}
.userLogoutCls {
  left: -32px;
  cursor: pointer;
}
.specialInputCls {
  width:37%;
  margin-left: -15px;
  margin-top: 1%;
  outline: none !important;
  resize:none;
}
.lineCls {
  clear: both;
  display: block;
}
.table > thead > tr > th {
  border: 0px solid transparent !important;
  text-align: center;
}
.table > tbody > tr > td {
  border: 0px solid transparent !important;
}
.myresponsiveTable {
  border: 0px solid transparent;
  margin-bottom: 0px;
  min-height: 0%;
  /*overflow-x: hidden;*/
}
@media screen and (min-width:300px) and (max-width:349px) {
  .daysHeadingDays {
    width: 45.5px;
    padding-left: 8px;
  }
  .weekdays {
    /*background-color: red;*/
    width: 45.5px !important;
    height: 53px !important;
  }
  .holiday {
    width: 46px !important;
    height: 53px !important;
  }
  .totalEventsCls {
    margin-top: 16%;
    /* margin-bottom: 0px; */
    font-size: 8px;
  }
  .col-xs-2 {
    width: 45.5px !important;
    height: 53px !important;
  }
  .date_month {
    font-size: 15px;
  }
  .imgLogoCls {
    width: 25%;
  }
  /*#monthyear{
    width:30%;
    font-size: 14px;
  }*/
  .loggedInUserDisp {
    font-size: 14px;
    margin-right: 35px;
    padding-top: 5px;
  }
  .myNavigationBar {
    margin-top: 27% !important;
  }
  .tabs-ul > li.active > a {
    width: 20% !important;
  }
  .saveBtnCls {
    width: 30% !important;
    padding: 3px;
  }
  .closeBtnCls {
    width: 30% !important;
  }
  /*.monthYearDisplay {
    margin-right: 18px;
  }*/
}
@media screen and (min-width:350px) and (max-width:399px) {
  .amOrPmSectionCls {
    clear: both;
    display: inline-block;
  }
  .specialInputCls {
    clear: both;
    margin-left: 25px;
    margin-top: 32%;
    /*display: inline-block;*/
  }
  .aminitiesGroupBtns > .btn:last-child {
    margin-left: 0px;
    margin-top: 2%;
  }
  .timeSlotGroupBtns>label {
    padding-right: 4px !important;
  }
  .plusSymbol {
    text-align: center !important;
  }
  .addEventHead {
    /*text-align: center;*/
    padding-left: 5%;
  }
  .daysHeadingDays {
    width: 51.3px;
    padding-left: 8px;
  }
  .weekdays, .holiday {
    /*background-color: red;*/
    width: 51.3px !important;
    height: 63px !important;
    padding-right: 0px;
    padding-left: 0px;
  }
  .col-xs-2 {
    width: 51.3px !important;
    height: 63px !important;
  }
  /*.monthYearDisplay {
    margin-right: 26px;
  }*/
  .date_month {
    font-size: 15px;
  }
  .save_event {
    margin-right: 0%;
  }
  .to_time_label {
    display: block;
    margin-left: 32%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .fromOne, .fromTwo {
    width: 15%;
  }
  .toOne, .toTwo {
    width: 23%;
  }
  .myDropdown {
    width: auto;
    /*margin-left: 25%;*/
    float: right;
    margin-right: 0px;
  }
  .ConferenceList {
    display: block;
  }
  .errorToDisp {
    margin-left: 17%;
  }
  .totalEventsCls {
    font-size: 10px !important;
    margin-top: 0%;
    font-size: 9px;
  }
  .monthYearCls {
    font-size: 135%;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .daysHeading .daysHeadingDays {
    height: 25px !important;
    padding-top: 1px;
    font-size: 15px;
  }
  .daysHeading {
    margin-top: 40px !important;
  }
  .imgLogoCls {
    width: 28%;
    margin-bottom: 1.5%;
  }
  .monthYearCls {
    font-size: 120%;
    margin-top: 1%;
    /*width: 28%;*/
  }
  .myDropdownBtnCls {
    padding: 4px 0px;
  }
  .loggedInUserDisp {
    font-size: 120%;
    padding-top: 0px;
    padding-right: 0px;
  }
  .loginFormCls {
    width: 100%;
  }
  .myNavigationBar {
    margin-top: 25% !important;
  }
  .tabs-ul > li > a {
    width: 20%;
  }
  .saveBtnCls {
    width: 30% !important;
    padding: 3px;
  }
  .closeBtnCls {
    width: 30% !important;
  }
  .tabs-ul > li > a {
    width: 30% !important;
  }
  .summaryCls {
    font-size: 12px;
  }
  .input {
    max-width: 100% !important;
  }
  .totalEventCountCls {
    margin-top: 0% !important;
    font-size: 12px !important;
  }
}
@media screen and (min-width:400px) and (max-width:599px) {
  .weekdays, .holiday {
    /*background-color: red;*/
    width: 54px !important;
    height: 50px !important;
    padding-right: 0px;
    padding-left: 0px;
  }
  .col-xs-2 {
    width: 54px !important;
    height: 50px !important;
  }
  .daysHeadingDays {
    width: 54px;
    padding-left: 8px;
  }
  .date_month {
    font-size: 14px;
  }
  .daysHeading .daysHeadingDays {
    height: 26px !important;
    padding-top: 2px;
    font-size: 15px;
  }
  .totalEventsCls {
    margin-top: -17%;
    font-size: 14px;
  }
  .myContainer {
    padding-right: 15px;
    padding-left: 17px;
  }
  /*.monthYearDisplay {
    margin-left: 18px;
    margin-right: 19px;
  }*/
  .monthYearCls {
    font-size: 135%;
    /*width: 30%;*/
  }
  .save_event {
    margin-right: 4%;
  }
  .imgLogoCls {
    width: 30%;
  }
  .loggedInUserDisp {
    padding-top: 6px;
    font-size: 16px;
    margin-right: 5%;
  }
}
@media screen and (min-width:600px) and (max-width:650px) {
  .specialInputCls {
    margin-left: 81px;
    display: block;
    margin-bottom: 10px;
  }
  .loginFormCls {
    width: 100%;
  }
  .myContainer {
    padding-right: 0px;
  }
  .myDropDownIconCls {
    padding-left: 0px;
  }
  .daysHeadingDays {
    width: 90.5px;
    /*padding-left: 8px;*/
  }
  .col-xs-2 {
    width: 90.5px !important;
    height: 78px !important;
  }
  .weekdays {
    width: 90.5px !important;
    height: 78px !important;
  }
  .holiday {
    width: 90.5px !important;
    height: 78px !important;
  }
  .errorToDisp {
    padding-left: 15%;
  }
  .totalEventCountCls {
    margin-top: 2% !important;
    font-size: 13px !important;
  }
  .totalEventsCls {
    font-size: 13px !important;
    margin-top: 0%;
  }
  .daysHeading .daysHeadingDays {
    height: 28px !important;
    padding-top: 2px;
    font-size: 16px;
  }
  .monthYearCls {
    font-size: 140%;
    padding-top: 9px;
    padding-bottom: 2px;
  }
  .daysHeading {
    margin-top: 53px;
  }
  .myNavigationBar {
    margin-top: 14% !important;
  }
  .input {
    max-width: 230px !important;
  }
  .loggedInUserDisp {
    font-size: 18px;
  }
  .imgLogoCls {
    width: 21%;
  }
  .summaryCls {
    margin-top: 19px;
    font-size: 17px;
  }
  .saveBtnCls {
    padding: 3px;
    font-size: 16px !important;
  }
  .table-responsive {
    overflow-x: hidden;
  }
}
@media screen and (min-width:651px) and (max-width:699px) {
  .daysHeadingDays {
    width: 85px;
    padding-left: 8px;
  }
  .col-xs-2 {
    width: 85px !important;
    height: 71px !important;
  }
  .weekdays {
    width: 85px !important;
    height: 71px !important;
  }
  .holiday {
    width: 85px !important;
    height: 71px !important;
  }
  .monthYearDisplay {
    margin-right: 13px;
  }
  .loginFormCls {
    width: 100%;
  }
}
@media screen and (min-width:700px) and (max-width:799px) {
  /*.monthYearDisplay {
    margin-right: 29px;
  }*/
  .col-xs-2 {
    width: 109px !important;
    height: 100px !important;
  }
  .weekdays {
    width: 109px !important;
    height: 100px !important;
  }
  .holiday {
    width: 109px !important;
    height: 100px !important;
  }
  .daysHeadingDays {
    width: 109px;
    /*padding-left: 8px;*/
  }
  .totalEventsCls {
    margin-bottom: 0;
    /* padding-top: 80px; */
    margin-top: 50%;
  }
  .myNavigationBar {
    margin-top: 14% !important;
  }
  .tabs-ul > li.active > a {
    width: 15% !important;
  }
  .input {
    width: 245px !important;
  }
  .myTableRow {
    padding: 5px !important;
  }
  .table-responsive {
    overflow-x: hidden;
  }
}
@media screen and (min-width:800px) and (max-width:900px) {
  /*.monthYearDisplay {
    margin-right: 25px !important;
  }*/
  .specialInputCls {
    clear: both;
    display: block;
    margin-left: 81px;
    margin-bottom: 10px;
  }
  .myresponsiveTable {
    overflow-x: hidden !important;
  }
  .col-xs-2 {
    width: 114.5px !important;
    height: 100px !important;
  }
  .weekdays {
    width: 114.5px !important;
    height: 100px !important;
  }
  .holiday {
    width: 114.5px !important;
    height: 100px !important;
  }
  .daysHeadingDays {
    width: 114.5px;
    /*padding-left: 8px;*/
  }
  .totalEventsCls {
    margin-bottom: 0;
    margin-top: 2%;
  }
  .loginFormCls {
    width: 75%;
  }
  .myNavigationBar {
    margin-top: 14% !important;
  }
  .tabs-ul > li > a {
    width: 15% !important;
  }
  .input {
    width: 253px !important;
  }
  .summaryCls {
    font-size: 16px;
  }
}
@media screen and (min-width:901px) and (max-width:999px) {
  .col-xs-2 {
    width: 136.3px !important;
    height: 100px !important;
  }
  .weekdays {
    width: 136.3px !important;
    height: 100px !important;
  }
  .holiday {
    width: 136.3px !important;
    height: 100px !important;
  }
  .daysHeadingDays {
    width: 136.3px;
    /*padding-left: 8px;*/
  }
  .totalEventsCls {
    margin-bottom: 0;
    margin-top: 2%;
  }
  .loginFormCls {
    width: 75%;
  }
  .myNavigationBar {
    margin-top: 14% !important;
    margin-left: 0.2% !important;
  }
  .tabs-ul > li > a {
    width: 15% !important;
  }
  .input {
    width: 252px !important;
  }
}
@media screen and (min-width:1000px) and (max-width:1199px) {
  /*.monthYearDisplay {
    margin-right: 25px !important;
  }*/
}
@media screen and (min-width:1200px) and (max-width:1290px) {
  .row {
    margin-right: -28px;
  }
  .daysHeadingDays {
    width: 180px;
    padding-left: 8px;
  }
  .weekdays {
    width: 180px !important;
    height: 140px !important;
  }
  .holiday {
    width: 180px !important;
    height: 140px !important;
  }
  .col-xs-2 {
    width: 182px !important;
    height: 140px !important;
  }
  /*.monthYearDisplay {
    margin-right: 54px;
    margin-left: 50px;
  }*/
  /*.myContainer {
    padding-right: 15px;
    padding-left: 50px;
  }*/
  .totalEventCountCls {
    margin-top: 5%;
  }
  .totalEventsCls {
    margin-top: 5%;
  }
}
@media screen and (min-width:1900px) and (max-width:1999px) {
  .totalEventsCls {
    margin-top: 3%;
  }
}
#cal-slide-tick {
  background-image: url("../img/tick1.png");
  position: absolute;
  width: 30px;
  margin-left: -7px;
  height: 25px;
  top: -13px;
  z-index: 1;
}
.tick-day0 {
  left: 6%;
}
.tick-day1 {
  left: 20%;
}
.tick-day2 {
  left: 35%;
}
.tick-day3 {
  left: 49%;
}
.tick-day4 {
  left: 64%;
}
.tick-day5 {
  left: 78%;
}
.tick-day6 {
  left: 93%;
}
.disabledTab {
  pointer-events: none;
}
.editText {
  color: black;
}

/*pop up*/

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}
.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }
  .popup {
    width: 70%;
  }
}

/*Scroll the modal if the size of window is small*/


/*.addEventModalBodyCls {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
    overflow-x: hidden;
}*/


/*css for badge count*/

.totalEventCountCls {
  margin-top: 15%;
  background-color: #0F8EC6;
  font-size: 16px;
}
#event {
  width: auto !important;
  height: auto !important;
}
tags-input .autocomplete .suggestion-item {
  text-align: left;
}

/*If already the slot is booked then shake the modal*/


/*  error */

.btn-error:after {
  z-index: 1;
  /*color: #fff;*/
  left: 40%;
}
.btn-error {
  -webkit-animation: shake 0.5s;
  -moz-animation: shake 0.5s;
  animation: shake 0.5s;
}

/* From Dan Eden's animate.css: http://daneden.me/animate/ */

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
  }
}
@-moz-keyframes shake {
  0%, 100% {
    -moz-transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -moz-transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -moz-transform: translateX(10px);
  }
}
@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}
.btn-error:before {
  content: "\e002";
}
.btn-error:after {
  content: "Error!";
  -webkit-animation: scaleFromUp 0.5s;
  -moz-animation: scaleFromUp 0.5s;
  animation: scaleFromUp 0.5s;
}
@-webkit-keyframes scaleFromUp {
  0% {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes scaleFromUp {
  0% {
    -moz-transform: scale(0);
    opacity: 0;
  }
  100% {
    opacity: 1;
    -moz-transform: scale(1);
  }
}
@keyframes scaleFromUp {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.amOrPmLabelCls {
  margin-left: 5px;
}
.favIconCls {
  background-color: inherit;
}

/*font size to header dropdown*/

.dropdown-menu > li > a {
  font-size: 16px;
}
.timeSlotGroupBtns>label {
  padding-right: 10px;
}
