
  <!-- template -->
  <div ng-hide="customHide" class="col-md-12 collapse" id="hideAndShowDiv" ng-hide="hideEvent=='show'">
    <span id="cal-slide-tick"></span>
    <div id="dayEvents" class="singleDayEventsCls">
      <section class="eachConfEvent">

        <div class="row myTableRow">

          <center ng-if="AllEvents.item.length==0">
            <h1>No Events Found</h1>
          </center>
          <div class="table-responsive myresponsiveTable">
          <table ng-if="AllEvents.item.length!=0" class="table">
            <tr>
              <th class="tableHead">
                By
              </th>
              <th class="tableHead">
                From
              </th>
              <th class="tableHead">
                To
              </th>
              <th class="tableHead">
                EventName
              </th>
              <th class="tableHead">
                Conference
              </th>
              <th>
              </th>
            </tr>
            <tr ng-repeat="x in AllEvents.item" ng-include="getTemplate(x)">

            </tr>

          </table>
        </div>
          <script type="text/ng-template" id="edit">

                <td class="tableColumn ">{{AllEvents.selected.userName}}</td>
                <td class="tableColumn editText"><input type="text" ng-model="AllEvents.selected.from" /></td>
                <td class="tableColumn editText"><input type="text" ng-model="AllEvents.selected.to" /></td>
                        <td class="tableColumn editText"><input type="text" ng-model="AllEvents.selected.eventName" /></td>
                                <td class="tableColumn editText"><input type="text" ng-model="AllEvents.selected.conferenceRoomNo" /></td>
                <td >
                    <button class="tableColumn editText" type="submit" ng-click="updateEvent($index)">Save</button>
                    <button class="tableColumn editText" ng-click="reset()">Cancel</button>
                </td>

            </script>
            <script type="text/ng-template" _id="display">
            <td class="tableColumn">{{ x.userName }}</td>
            <td class="tableColumn">{{ x.from | date:'hh:mm a'}}</td>
            <td class="tableColumn">{{ x.to | date:'hh:mm a'}}</td>
            <td class="tableColumn">{{ x.eventName }}</td>
            <td class="tableColumn">{{ x.conferenceRoomNo }}</td>
            <!-- <td>{{currentDate | date:'hh:mm:ss a'}}</td> -->
            <td>
              <span ng-if="userid==x.userId" class="glyphicon glyphicon glyphicon-pencil editEventCls" ng-click="editEvent(x)"></span>
              <span ng-if="userid==x.userId" class="glyphicon glyphicon-remove-sign removeCls"  ng-click="cancel_event(x._id)" data-toggle="modal" data-target="#myModal2"></span>
            </td>

              </script>
        </div>
        <!-- ng-click="deletEvent(x._id)" -->

      </section>
    </div>
  </div>
