<!DOCTYPE html>
<html ng-app="myApp">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <meta content="img/mobility.jpg" itemprop="image"> -->
  <link href="img/mobility.jpg" rel="shortcut icon" class="favIconCls">

  <title>Conference Room Booking</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/app.css">
  <link rel="stylesheet" href="http://mbenford.github.io/ngTagsInput/css/ng-tags-input.min.css" />

  <script src="https://code.jquery.com/jquery-2.2.1.min.js" integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>
</head>

<body ng-controller="CalendarController" class="calendarBody">
  <!-- Modal -->
  <alert></alert>
  <confirm></confirm>
  <loginbox></loginbox>
  <login></login>
  <header>
    <!-- <h2>Conference Room Booking</h2> -->
  </header>
  <!-- <nav>
			<button id="prev_month" class="btn btn-default btn-color" type="submit" value="prevmonth" ng-click="prevmon()">prevmonth</button>
			<label id="monthyear">{{month_name}}&nbsp;{{year}}</label>
			<button id="next_month" class="btn btn-default btn-color" type="submit" value="nextmonth" ng-click="nextmon()" >nextmonth</button>
		</nav> -->


  <section id="calendar" class="container-fluid myContainer">
    <section id="days">

      <!-- <div class="alert alert-success" ng-show="login_alert_ms">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>{{login_alert_ms}}</strong>
                </div> -->

      <nav class="monthYearDisplay navbar-fixed-top navBarCls">
        <img src="img/logo.png" alt="can't display" class="imgLogoCls">
        <!-- <button id="prev_month" class="btn btn-default btn-color" type="submit" value="prevmonth" ng-click="prevmon()" style="float:left;color:#0F8EC6">prevmonth</button> -->
        <label id="monthyear" style="color:white" ng-bind="month_name+ ' ' + year" class="monthYearCls"></label>
        <span class="loggedInUserDisp logoutClass dropdown-toggle" ng-if="User!=0" data-toggle="dropdown">
          <span class="dropdown myDropdown">
            <button class="btn btn-default dropdown-toggle glyphicon glyphicon-user myDropdownBtnCls" type="button" data-toggle="dropdown">
              <span ng-bind="User | capitalize" class="userNameCls"></span>
              <span class="glyphicon glyphicon-chevron-down myDropDownIconCls"></span>
            </button>
            <ul class="dropdown-menu userLogoutCls">
              <li><a ng-click="logout()">Logout</a></li>

            </ul>
          </span>
          <!-- {{User | capitalize}}&nbsp;<a class="logOutlinkCls">Logout</a> -->

        </span>


        <!-- <button id="next_month" class="btn btn-default btn-color" type="submit" value="nextmonth" ng-click="nextmon()" style="float:right;color:#0F8EC6">nextmonth</button> -->
      </nav>


    </section>

    <section class="row commonRow daysHeading" id="days">
      <section class="col-xs-2 first-col daysHeadingDays">Sun</section>
      <section class="col-xs-2 daysHeadingDays">Mon</section>
      <section class="col-xs-2 daysHeadingDays">Tue</section>
      <section class="col-xs-2 daysHeadingDays">Wed</section>
      <section class="col-xs-2 daysHeadingDays">Thu</section>
      <section class="col-xs-2 daysHeadingDays">Fri</section>
      <section class="col-xs-2 daysHeadingDays">Sat</section>
    </section>

    <section ng-repeat="row in rows track by $index" class="row commonRow">
      <!-- 'today':Check_today(row.value,$index,$parent.$index)  -->
      <!--data-target="#event"-->
      <section ng-class="{ 'holiday': !showevent_icon(row.value[$index],$index),'weekdays':Check_today(row.value,$index,$parent.$index)}" ng-repeat="data in [].constructor(7) track by $index" class="col-xs-2 date" ng-click="addevent_box(row.value,$index,$parent.$index)">
        <section ng-class="click_addevent()>row.value[$index] ? 'cursor_ini':'cursor_point'" class="eventClass">
          <section class="date_month">
            <span ng-bind="row.value[$index]"></span>
          </section>
          <div class="badge totalEventCountCls" ng-if="Check_today(row.value,$index,$parent.$index)">
            2/10
            <!-- Add the count of num. of events of current user to total num. of Events on the particular day. -->
          </div>
          <h6 class="totalEventsCls" ng-show="Check_today(row.value,$index,$parent.$index)" ng-init="length_events(row.value[$index])" ng-click="!(row.event_name[$index].length==0)&&show_events(row.value[$index]);$event.stopPropagation()" ng-class="row.event_name[$index].length==0 ? 'event_color_red cursor_ini' : 'event_color_green cursor_point'">
            <span ng-click="hideAndShowEvent($event,row.value[$index],$index);">Events</span>
            <!--span ng-click="hideAndshow()">Events</span>-->
            <!-- <span class="glyphicon glyphicon-eye-open"></span> -->
            <!-- <span class="totalEventsCount"></span> -->
            <!-- <span ng-if="length!=0" style="color:white">Total events:{{length}}</span> -->
            <span class="plusSymbol" ng-click="addevent_box(row.value,$index,$parent.$index);">
              <span class="glyphicon glyphicon-plus-sign"></span>
            </span>
          </h6>


        </section>
      </section>
      <!-- <div class="col-lg-12" style="border:1px solid black">
					<h1>Hi</h1>
				</div> -->
    </section>
  </section>
  <!-- Modal -->
  <div class="modal" id="show_events" ng-show="showevent_visibility">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header addevent_header">
          <h4>Events - {{date}}&nbsp;{{month_name}},{{year}}
            <span class="glyphicon glyphicon-user user">{{User | capitalize}}</span>
          </h4>
        </div>
        <div class="modal-body">
          <section class="row">
            <section class="col-xs-3">Event Name</section>
            <section class="col-xs-2">From</section>
            <section class="col-xs-2">To</section>
            <section class="col-xs-3">Conference Room</section>
            <section class="col-xs-2">Cancel</section>
          </section>
          <section class="event_wrap">
            <section class="row" ng-repeat="row in [].constructor(length) track by $index">
              <section class="col-xs-3">{{events[0].event_name[0][$index]}}</section>
              <section class="col-xs-2">{{events[0].event_from_time[0][$index]}}</section>
              <section class="col-xs-2">{{events[0].event_to_time[0][$index]}}</section>
              <section class="col-xs-3">{{events[0].conference_room[0][$index]}}</section>
              <section ng-show="!(date<dt)" class="glyphicon glyphicon-remove-circle col-xs-2" ng-click="cancel_event(date,$index)" data-toggle="modal" data-target="#myModal2"></section>
            </section>
          </section>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
  <!-- <button class="btn save_event" ng-click="show_saved_events()" ng-hide="" disabled>Save Events </button> -->
  <!-- <section id="result_events">
			<section ng-repeat="data in results track by $index">{{data}}</section>
		</section> -->
  <div id="event" class="modal fade" role="dialog" ng-show="addevent_visibility">
    <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header addevent_header">
          <h4 class="addEventModalHeadCls">
            <span class="addEventHead" ng-if="!event.eventTitle">Add Event </span>
            <span class="addEventHead" ng-if="event.eventTitle">{{event.eventTitle | capitalize}}</span>
          </h4>
          <h4>
            <span class="glyphicon glyphicon-calendar"></span>
            <span>{{eventdate}}&nbsp;{{month_name}}, {{year}}</span>
            <!-- <span class="addEventHead">Add Event</span> -->
            <span class="glyphicon glyphicon-user user"> {{User | capitalize}}</span>
          </h4>
        </div>
        <div class="modal-body modalBody addEventModalBodyCls">

          <nav class="navbar navbar-fixed-top navigation myNavigationBar">
            <div class="container containerNavtab">

              <div class="navbar-collapse tabs-main" id="myNavbar">
                <ul id="menuTabs" class="nav nav-tabs nav-stacked tabs-ul">
                  <li id="tasksMenuBtn" class="tabs-li active">
                    <a class="navbar-brand tabsBtnCls tasks-a-tag" id="taskButton" data-toggle="tab" href="#tab1" ng-click="tabChange()">Step1</a>
                  </li>
                  <li ng-class="{disabledTab: activetab == 'Step1'}" id="createTipMenuBtn" class=" tabs-li">
                    <a class="navbar-brand createtip-a-tag" id="createTipBtn" data-toggle="tab" href="#tab2">Step2</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>

          <div class="tab-content tabContentCls">
            <div id="tab1" class="tab-pane fade in active">

              <section class="bookEventCls">

                <!-- ng-hide="event.participants" -->
                <section class="content">
                  <span class="input input--hoshi firstInputCls">
                    <input class="input__field input__field--hoshi" type="text" id="input-4" ng-model="event.eventTitle" />
                    <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4">
                      <span class="input__label-content input__label-content--hoshi eventTitleCls">Event Title</span>
                    </label>

                  </span>
                  <p class="errorToDisp" ng-show="alert_ms"> {{alert_ms}}</p>

                  <span class="input input--hoshi dropDownCls" ng-if="event.eventTitle">
                    <label class="eventTypeCls">Event Type:</label>
                    <select ng-model="event.eventType" class="browser-default dropDownElements">
                      <option value="" disabled selected>Choose Event Type</option>
                      <option value="Meeting">Meeting</option>
                      <option value="Presentation">Presentation</option>
                      <option value="Others">Others</option>
                    </select>
                  </span>
                </section>
                <section>
                  <form class="timeSlotsFormCls" ng-if="event.eventTitle&&event.eventType">
                    <label class="timeSlotLabel">Select Time Slot:</label>
                    <div class=" groupBtns timeSlotGroupBtns">
                      <!--<div class="foundation-radio-button"><input class="button large expand" type="radio" name="pokemon" value="Black" id="pokemonBlack"><label for="pokemonBlack">Black</label></div>-->
                      <label class=" timeSlotsPickBtns">
                        <input type="radio" ng-model="event.eventSlot" name="timeSlots" value="15" class="colorPickerOptionsCls" ng-click="calculateEventSlot(event.eventSlot,inp_event_time_from_hour,inp_event_time_from_minute)">15 mins
                      </label>
                      <label class=" timeSlotsPickBtns">
                        <input type="radio" name="timeSlots" value="30" class="colorPickerOptionsCls" ng-model="event.eventSlot" ng-click="calculateEventSlot(event.eventSlot,inp_event_time_from_hour,inp_event_time_from_minute)">30 mins
                      </label>
                      <label class=" timeSlotsPickBtns">
                        <input type="radio" name="timeSlots" value="45" class="colorPickerOptionsCls" ng-model="event.eventSlot" ng-click="calculateEventSlot(event.eventSlot,inp_event_time_from_hour,inp_event_time_from_minute)">45 mins
                      </label>
                      <label class=" timeSlotsPickBtns">
                        <input type="radio" name="timeSlots" value="60" class="colorPickerOptionsCls" ng-model="event.eventSlot" ng-click="calculateEventSlot(event.eventSlot,inp_event_time_from_hour,inp_event_time_from_minute)">60 mins
                      </label>

                    </div>
                  </form>
                </section>

                <section class="event_inputs" ng-if="event.eventTitle&&event.eventType&&event.eventSlot">
                  <form class="slotForm">
                    <label>Event Time:</label>
                    <label class="time_label">From:</label>
                    <input name="slotInput" class="time_input fromOne inputCls" type="text" name="testInput" ng-model="inp_event_time_from_hour" ng-max="19" ng-keyUp="calculateEventSlot(event.eventSlot,inp_event_time_from_hour,inp_event_time_from_minute)" numbers-only="numbers-only"
                    />
                    <!--                        <input type="text" class="time_input fromOne inputCls" value="09" min="00" max="23" size="2" ng-model="inp_event_time_from_hour" ng-keyUp="calculateEventSlot(event.eventSlot,inp_event_time_from_hour,inp_event_time_from_minute)"></input>-->
                    <input type="text" name="slotMinInput" class="time_input fromTwo inputCls" ng-keyUp="calculateEventSlot(event.eventSlot,inp_event_time_from_hour,inp_event_time_from_minute)" ng-model="inp_event_time_from_minute" ng-max="59" numbers-only="numbers-only"
                    />
                    <!-- <input type="text" class="time_input fromTwo inputCls" ng-keyUp="calculateEventSlot(event.eventSlot,inp_event_time_from_hour,inp_event_time_from_minute)" value="30" min="0" max="45" step="45" ng-model="inp_event_time_from_minute"></input> -->
                    <span class="to_time_label">
                      <label class="time_label">To:</label>
                      <input type="text" class="time_input toOne inputCls" value="10" min="0" max="23" disabled ng-model="inp_event_time_to_hour"></input>
                      <input type="text" class="time_input toTwo inputCls" value="0" min="0" max="45" disabled step="45" ng-model="inp_event_time_to_minute"></input>
                      <span class="amOrPmSectionCls">
                        <label class="amOrPmLabelCls">
                          <input name="amOrPmBtns" type="radio" />AM</label>
                        <label class="amOrPmLabelCls">
                          <input name="amOrPmBtns" type="radio" />PM</label>
                      </span>

                    </span>

                    <center>
                      <div ng-if="inp_event_time_from_hour.length==0" style="color: red;">
                        max time you can book till 8 PM
                      </div>
                      <div ng-show="slotForm.slotInput.$error.abovemaximum" style="color: red;">
                        max time you can book till 8 PM
                      </div>
                      <div ng-show="TimeValidation!=''" style="color: red;">
                        {{TimeValidation}}
                      </div>
                    </center>
                  </form>

                </section>
                <section ng-if="event.eventTitle&&event.eventType&&event.eventSlot&&event.eventSlot">
                  <form class="aminitiesFormCls">
                    <label class="aminitiesLabelCls timeSlotLabel">Amenities:</label>

                    <div class="btn-group groupBtns aminitiesGroupBtns timeSlotGroupBtns" data-toggle="buttons">
                      <label class="btn btn-default " ng-repeat="aminity in aminities" ng-click="toggleSelection(aminity)" ng-checked="selection.indexOf(aminity) > -1">
                        <input type="checkbox" name="selectedaminities[]" value="{{aminity}}"> {{aminity}}
                      </label>
                      <!--
                          <label class="btn timeSlotsPickBtns" ng-repeat="aminity in aminities">
                           <input type="checkbox" name="selectedaminities[]" value="{{aminity}}" ng-checked="selection.indexOf(aminity) > -1" ng-click="toggleSelection(aminity)"> {{aminity}}
                          </label>
                          -->

                    </div>

                    <textarea ng-if="specialEvent==true" type="text" class="specialInputCls inputCls" placeholder="Enter the special event"></textarea>
                  </form>
                </section>


              </section>
              <div class="numOfParticipants" ng-if="event.eventTitle&&event.eventType&&event.eventSlot&&event.eventSlot&&selection.length!=0">
                <label>Num. of Participants:</label>
                <input type="text" ng-model="event.participants" class="inputCls numTextCls" numbers-only="numbers-only">
              </div>
              <section class="filteredConfs" ng-if="event.eventTitle&&event.eventType&&event.eventSlot&&event.eventSlot&&event.participants&&selection.length>0">

                <div class="filterTheConfRooms row">
                  <div class="col-md-12 col-xs-12 columnCls">
                    <!-- TODO on click of div select the conf room. -->
                    <div  class="animated zoomIn " >
                      <label class="confRooms conf1 col-md-3 col-xs-4 btn" ng-class="{checked: event.conferenceroom == 'conf1'}" ng-click="myModel = 'foobar'">
                        <input type="radio" name="radio1" value="conf1" ng-model="event.conferenceroom" />Conf 1
                        <div>
                          <span class="glyphicon glyphicon-phone-alt"></span>

                          <span class="glyphicon glyphicon-blackboard"></span>

                          <span class="glyphicon glyphicon-facetime-video"></span>

                        </div>
                      </label>
                    </div>

                    <div  class="animated zoomIn" >
                      <label class="confRooms conf2 col-md-3 col-xs-3 " ng-class="{checked: event.conferenceroom == 'conf2'}" ng-click="myModel = 'foobar'">
                        <input type="radio" name="radio1" value="conf2" ng-model="event.conferenceroom" />Conf 2
                        <div>
                          <span class="glyphicon glyphicon-phone-alt"></span>

                          <span class="glyphicon glyphicon-blackboard"></span>

                          <span class="glyphicon glyphicon-facetime-video"></span>
                        </div>
                      </label>

                    </div>


                    <div class=" animated zoomIn ">
                      <label class="confRooms conf3 col-md-3 col-xs-3" ng-class="{checked: event.conferenceroom == 'conf3'}" ng-click="myModel = 'foobar'">
                        <input type="radio" name="radio1" value="conf3" ng-model="event.conferenceroom" />Conf 3
                        <div>
                          <span class="glyphicon glyphicon-phone-alt"></span>

                          <span class="glyphicon glyphicon-blackboard"></span>

                          <span class="glyphicon glyphicon-facetime-video"></span>
                        </div>
                      </label>

                    </div>
                    <div  class="animated zoomIn" >
                      <label class="confRooms conf4 col-md-3 col-xs-4" ng-class="{checked: event.conferenceroom == 'conf4'}" ng-click="myModel = 'foobar'">
                        <input type="radio" name="radio1" value="conf4" ng-model="event.conferenceroom" />Conf 4
                        <div>
                          <span class="glyphicon glyphicon-phone-alt"></span>

                          <span class="glyphicon glyphicon-blackboard"></span>

                          <span class="glyphicon glyphicon-facetime-video"></span>
                        </div>
                      </label>

                    </div>


                    <div class=" animated zoomIn ">
                      <label class="confRooms conf5 col-md-3 col-xs-3" ng-class="{checked: event.conferenceroom == 'conf5'}" ng-click="myModel = 'foobar'">
                        <input type="radio" name="radio1" value="conf5" ng-model="event.conferenceroom" />Conf 5
                        <div>
                          <span class="glyphicon glyphicon-phone-alt"></span>

                          <span class="glyphicon glyphicon-blackboard"></span>

                          <span class="glyphicon glyphicon-facetime-video"></span>
                        </div>
                      </label>

                    </div>
                    <div class=" animated zoomIn ">
                      <label class="confRooms conf6 col-md-3 col-xs-3" ng-class="{checked: event.conferenceroom == 'conf6'}" ng-click="myModel = 'foobar'">
                        <input type="radio" name="radio1" value="conf6" ng-model="event.conferenceroom" />Conf 6
                        <div>
                          <span class="glyphicon glyphicon-phone-alt"></span>

                          <span class="glyphicon glyphicon-blackboard"></span>

                          <span class="glyphicon glyphicon-facetime-video"></span>
                        </div>
                      </label>

                    </div>

                  </div>
                </div>

              </section>


            </div>
            <!--Tab 2  -->
            <div id="tab2" class="tab-pane fade">
              <h4 class="summaryCls">
                <!--TODO We need to bind which confroom user is booking along with from and to time.  -->
                The user has booked the
                <span ng-bind="eventDetails.conferenceRoomNo"></span> from
                <span ng-bind="eventDetails.fromTime"></span> to
                <span ng-bind="eventDetails.toTime"></span>.
              </h4>
              <div class="emailInputCls">
                <label>Invite people:</label>
                <tags-input ng-model="tags" placeholder="Add a Name">
                  <auto-complete source="loadTags($query)"></auto-complete>
                </tags-input>

              </div>
            </div>

          </div>

          <p class="errorToDisp" ng-if="failureAlert_ms">{{failureAlert_ms}}</p>

        </div>
        <HR class="lineCls">
        <div class="btnsCls">

          <button type="button" class="btn btn-cust closeBtnCls" ng-click="close_addevent()" data-dismiss="modal">Close</button>
          <button type="button" ng-if="activetab=='Step1';" class="btn btn-success btn-cust saveBtnCls btn-2c" id="addevent_but" ng-click="saveEvent(eventdate)" ng-disabled="!event.eventTitle||!event.eventType||!event.eventSlot||!event.eventSlot||!event.participants || selection.length==0">Next</button>
          <button type="button" ng-if="activetab=='Step2';" class="btn btn-success btn-cust saveBtnCls btn-2c" id="addevent_but" ng-click="sendEmail(eventdate,tags)">Send Email</button>
          <!-- <button type="button" class="btn btn-success btn-cust saveBtnCls btn-2c" id="addevent_but" ng-click="next()" ng-disabled="!event.eventTitle||!event.eventType||!event.eventSlot||!event.eventSlot||!event.participants || selection.length==0">Next</button> -->
        </div>

      </div>

    </div>
  </div>
  <!-- event list display directive -->
  <event-list-template></event-list-template>

</body>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/angular-messages.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="calender/controller.js"></script>
<script type="text/javascript" src="calender/directive.js"></script>
<script type="text/javascript" src="calender/services.js"></script>
<script type="text/javascript" src="login/logincntrl.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script>
  document.write('<base href="' + document.location + '" />');
</script>

<script src="https://code.angularjs.org/1.2.28/angular-resource.min.js"></script>
<script src="http://mbenford.github.io/ngTagsInput/js/ng-tags-input.min.js"></script>

</html>
