<div class='modal fade' id='myModal1' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' data-backdrop='static'>
    <div class='modal-dialog' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
                <h4 class='modal-title ' id='myModalLabel'>Login</h4></div>
            <div class='modal-body' id='alert_body'>
                <div class='container'>
                    <form class='form-signin loginFormCls' name="userForm" novalidate>
                        <div ng-class="{ 'has-error': userForm.email.$touched && submitted && userForm.email.$invalid }">
                            <label for='inputEmail' class='sr-only'>Email address</label>
                            <input type="text" id='inputEmail' ng-model="user" name="email" class="form-control" placeholder='Email address' ng-blur="validate(user)" ng-keyup="validate(user)" required> {{sucess}}
                            <div class="help-block" ng-messages="userForm.email.$error" ng-if="userForm.email.$touched" style="color:red !important">
                                <p ng-message="required">email is required.</p>
                            </div>
                        </div>
                        <div>
                            <label for='inputPassword' class='sr-only'>Password</label>
                            <input type="password" id='inputPassword' name="password" ng-model="password" placeholder='Password' class="form-control" required>
                            <div class="help-block" ng-messages="userForm.password.$error" ng-if="userForm.password.$touched" style="color:red !important">
                                <p ng-message="required">password is required.</p>
                            </div>
                        </div>
                        <div>
                            <div class="alert alert-warning" ng-show="login_alert_ms">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong> {{login_alert_ms}}</strong>
                            </div>

                            <button id='user_login' class='btn btn-lg btn-primary btn-block' type='submit' ng-disabled="userForm.$invalid || sucess!='' " ng-click="login()">Sign in</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- <div class='modal-footer'>
                <button type='button' class='btn btn-default' data-dismiss='modal' ng-click="close()">Close</button>
            </div> -->
        </div>
    </div>
</div>
