<!DOCTYPE html>
<html ng-app="myApp">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Conference Room Booking</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/app.css">
  <link rel="stylesheet" href="http://mbenford.github.io/ngTagsInput/css/ng-tags-input.min.css" />
  <script src="https://code.jquery.com/jquery-2.2.1.min.js" integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>
</head>

<body ng-controller="CalendarController" class="calendarBody">
  <!-- Modal -->
  <alert></alert>
  <confirm></confirm>
  <loginbox></loginbox>
  <login></login>
  <header>
    <!-- <h2>Conference Room Booking</h2> -->
  </header>
  <!-- <nav>
			<button id="prev_month" class="btn btn-default btn-color" type="submit" value="prevmonth" ng-click="prevmon()">prevmonth</button>
			<label id="monthyear">{{month_name}}&nbsp;{{year}}</label>
			<button id="next_month" class="btn btn-default btn-color" type="submit" value="nextmonth" ng-click="nextmon()" >nextmonth</button>
		</nav> -->


  <section id="calendar" class="container-fluid myContainer">
    <section class="row" id="days">
      <section class="col-xs-12 ">
        <!-- <div class="alert alert-success" ng-show="login_alert_ms">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>{{login_alert_ms}}</strong>
                </div> -->

        <nav style="" class="monthYearDisplay navbar-fixed-top navBarCLs">
          <img src="img/logo.png" alt="can't display" class="imgLogoCls">
          <!-- <button id="prev_month" class="btn btn-default btn-color" type="submit" value="prevmonth" ng-click="prevmon()" style="float:left;color:#0F8EC6">prevmonth</button> -->
          <label id="monthyear" style="color:white" ng-bind="month_name+ ' ' + year"></label>
          <span class="loggedInUserDisp logoutClass" ng-if="User">Logout &nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-user"></span>{{User}}</span>

          <!-- <button id="next_month" class="btn btn-default btn-color" type="submit" value="nextmonth" ng-click="nextmon()" style="float:right;color:#0F8EC6">nextmonth</button> -->
        </nav>
      </section>

    </section>
    <section class="row daysHeading" id="days">
      <section class="col-xs-2 first-col daysHeadingDays">Sun</section>
      <section class="col-xs-2 daysHeadingDays">Mon</section>
      <section class="col-xs-2 daysHeadingDays">Tue</section>
      <section class="col-xs-2 daysHeadingDays">Wed</section>
      <section class="col-xs-2 daysHeadingDays">Thu</section>
      <section class="col-xs-2 daysHeadingDays">Fri</section>
      <section class="col-xs-2 daysHeadingDays">Sat</section>
    </section>

    <section ng-repeat="row in rows track by $index" class="row">
      <!-- 'today':Check_today(row.value,$index,$parent.$index)  -->
      <!--data-target="#event"-->
      <section ng-class="{ 'holiday': !showevent_icon(row.value[$index],$index), 'weekdays1' : showevent_icon(row.value[$index],$index),'weekdays':Check_today(row.value,$index,$parent.$index)}" ng-repeat="data in [].constructor(7) track by $index" class="col-xs-2 date"
        ng-click="addevent_box(row.value,$index,$parent.$index)">
        <section ng-class="click_addevent()>row.value[$index] ? 'cursor_ini':'cursor_point'" class="eventClass">
          <section class="date_month">{{row.value[$index]}}</section>

          <!-- <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#{{row.value[$index]}}">Simple collapsible</button>

					 <div id={{row.value[$index]}} class="collapse singleDayEventsCls">
						<section>
							<h4>Conf1
								<span class="glyphicon glyphicon-plus addEventCls"></span>
							</h4>
						</section>
					</div> -->

          <h6 class="totalEventsCls" ng-show="showevent_icon(row.value[$index],$index)" ng-init="length_events(row.value[$index])" ng-click="!(row.event_name[$index].length==0)&&show_events(row.value[$index]);$event.stopPropagation()" ng-class="row.event_name[$index].length==0 ? 'event_color_red cursor_ini' : 'event_color_green cursor_point'">
            <span ng-click="hideAndShowEvent($event,row.value[$index]);">Events</span>
            <!--span ng-click="hideAndshow()">Events</span>-->
            <!-- <span class="glyphicon glyphicon-eye-open"></span> -->
            <!-- <span class="totalEventsCount"></span> -->
            <!-- <span ng-if="length!=0" style="color:white">Total events:{{length}}</span> -->
            <span class="plusSymbol" ng-click="addevent_box(row.value,$index,$parent.$index);">
              <span class="glyphicon glyphicon-plus-sign"></span>
            </span>
          </h6>


        </section>
      </section>
      <!-- <div class="col-lg-12" style="border:1px solid black">
					<h1>Hi</h1>
				</div> -->
    </section>
  </section>
  <!-- Modal -->
  <div class="modal" id="show_events" ng-show="showevent_visibility">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header addevent_header">
          <h4>Events - {{date}}&nbsp;{{month_name}},{{year}}
            <span class="glyphicon glyphicon-user user">{{User}}</span>
          </h4>
        </div>
        <div class="modal-body">
          <section class="row">
            <section class="col-xs-3">Event Name</section>
            <section class="col-xs-2">From</section>
            <section class="col-xs-2">To</section>
            <section class="col-xs-3">Conference Room</section>
            <section class="col-xs-2">Cancel</section>
          </section>
          <section class="event_wrap">
            <section class="row" ng-repeat="row in [].constructor(length) track by $index">
              <section class="col-xs-3">{{events[0].event_name[0][$index]}}</section>
              <section class="col-xs-2">{{events[0].event_from_time[0][$index]}}</section>
              <section class="col-xs-2">{{events[0].event_to_time[0][$index]}}</section>
              <section class="col-xs-3">{{events[0].conference_room[0][$index]}}</section>
              <section ng-show="!(date<dt)" class="glyphicon glyphicon-remove-circle col-xs-2" ng-click="cancel_event(date,$index)" data-toggle="modal" data-target="#myModal2"></section>
            </section>
          </section>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

  <button class="btn save_event" ng-click="show_saved_events()">Save Events</button>
  <!-- <section id="result_events">
			<section ng-repeat="data in results track by $index">{{data}}</section>
		</section> -->
  <div id="event" class="modal fade" role="dialog" ng-show="addevent_visibility" data-backdrop="static">
    <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header addevent_header">
          <h4 class="addEventModalHeadCls"><span class="addEventHead">Add Event</span></h4>
          <h4>
            <span class="glyphicon glyphicon-calendar"></span>
            <span>{{eventdate}}&nbsp;{{month_name}}, {{year}}</span>
            <!-- <span class="addEventHead">Add Event</span> -->
            <span class="glyphicon glyphicon-user user"> {{User}}</span>
          </h4>
        </div>
        <div class="modal-body modalBody">

          <div class="modal-body modalBody">
            <nav class="navbar navbar-default navbar-fixed-top navigation myNavigationBar">
              <div class="container containerNavtab">

                <div class="navbar-collapse tabs-main" id="myNavbar">
                  <ul id="menuTabs" class="nav nav-tabs nav-stacked tabs-ul">
                    <li id="tasksMenuBtn" class="tabs-li active">
                      <a class="navbar-brand tabsBtnCls tasks-a-tag" id="taskButton" data-toggle="tab" href="#tab1">Tab1</a>
                    </li>
                    <li id="createTipMenuBtn" class="tabs-li">
                      <a class="navbar-brand createtip-a-tag" id="createTipBtn" data-toggle="tab" href="#tab2">Tab2</a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>

            <div class="tab-content tabContentCls">
              <div id="tab1" class="tab-pane fade in active">
                <section class="content">
                  <span class="input input--hoshi">
              <input class="input__field input__field--hoshi" type="text" id="input-4" ng-model="event.eventTitle"/>
              <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4">
                <span class="input__label-content input__label-content--hoshi eventTitleCls">Event Title</span>
                  </label>

                  </span>
                  <p class="errorToDisp" ng-show="alert_ms"> {{alert_ms}}</p>
                  <span class="input input--hoshi dropDownCls" ng-if="event.eventTitle">

              <label class="eventTypeCls">Event Type:</label>
              <select ng-model="event.eventType" class="browser-default dropDownElements">
                <option value="" disabled selected>Choose Event Type</option>
                <option value="Meeting">Meeting</option>
                <option value="Presentation">Presentation</option>
                <option value="Others">Others</option>
              </select>
            </span>

                </section>
                <section>

                  <form class="timeSlotsFormCls" ng-if="event.eventType">
                    <label class="timeSlotLabel">Select Time Slot:</label>
                    <div class="btn-group groupBtns timeSlotGroupBtns" data-toggle="buttons">
                      <!--<div class="foundation-radio-button"><input class="button large expand" type="radio" name="pokemon" value="Black" id="pokemonBlack"><label for="pokemonBlack">Black</label></div>-->
                      <label class="btn btn-default timeSlotsPickBtns">
                        <input type="radio" ng-model="event.eventSlot" name="timeSlots" value="15" class="colorPickerOptionsCls" ng-click="calculateEventSlot(event.eventSlot,inp_event_time_from_hour,inp_event_time_from_minute)">15 mins
                      </label>
                      <span class="timeSlotsPickBtns">
                                                <input type="radio" name="timeSlots" value="30" class="colorPickerOptionsCls" ng-model="event.eventSlot" ng-click="calculateEventSlot(event.eventSlot,inp_event_time_from_hour,inp_event_time_from_minute)">30 mins
                                            </span>
                      <label class="timeSlotsPickBtns">
                        <input type="radio" name="timeSlots" value="45" class="colorPickerOptionsCls" ng-model="event.eventSlot" ng-click="calculateEventSlot(event.eventSlot,inp_event_time_from_hour,inp_event_time_from_minute)">45 mins
                      </label>
                      <label class="timeSlotsPickBtns">
                        <input type="radio" name="timeSlots" value="60" class="colorPickerOptionsCls" ng-model="event.eventSlot" ng-click="calculateEventSlot(event.eventSlot,inp_event_time_from_hour,inp_event_time_from_minute)">60 mins
                      </label>

                    </div>
                  </form>
                </section>

                <section class="event_inputs" ng-if="event.eventSlot">
                  <form class="slotForm">
                    <label>Event Time:</label>
                    <label class="time_label">From:</label>
                    <input class="time_input fromOne inputCls" type="text" name="testInput" ng-model="inp_event_time_from_hour" ng-max="12" ng-keyUp="calculateEventSlot(event.eventSlot,inp_event_time_from_hour,inp_event_time_from_minute)" numbers-only="numbers-only" />

                    <div ng-if="slotForm.slotInput.$error" style="color: red;">
                      Numeric input only.
                    </div>
                    <div ng-show="slotForm.slotInput.$error.abovemaximum" style="color: red;">
                      Max limit is 12 hours.
                    </div>

                    <!--                        <input type="text" class="time_input fromOne inputCls" value="09" min="00" max="23" size="2" ng-model="inp_event_time_from_hour" ng-keyUp="calculateEventSlot(event.eventSlot,inp_event_time_from_hour,inp_event_time_from_minute)"></input>-->
                    <input type="text" name="slotMinInput" class="time_input fromTwo inputCls" ng-keyUp="calculateEventSlot(event.eventSlot,inp_event_time_from_hour,inp_event_time_from_minute)" ng-model="inp_event_time_from_minute" ng-max="59" numbers-only="numbers-only"
                    />
                    <div ng-if="slotForm.slotMinInput.$error.nonnumeric" style="color: red;">
                      Numeric input only.
                    </div>
                    <div ng-show="slotForm.slotInput.$error.abovemaximum" style="color: red;">
                      Max limit is 59 mints.
                    </div>
                    <!--                        <input type="text" class="time_input fromTwo inputCls" ng-keyUp="calculateEventSlot(event.eventSlot,inp_event_time_from_hour,inp_event_time_from_minute)" value="30" min="0" max="45" step="45" ng-model="inp_event_time_from_minute"></input>-->
                    <span class="to_time_label">
                              <label class="time_label">To:</label>
                              <input type="text" class="time_input toOne inputCls" value="10" min="0" max="23" disabled ng-model="inp_event_time_to_hour"></input>
                              <input type="text" class="time_input toTwo inputCls" value="0" min="0" max="45" disabled step="45" ng-model="inp_event_time_to_minute"></input>
                            </span>
                  </form>

                </section>

                <section ng-if="event.eventSlot">
                  <form class="aminitiesFormCls">
                    <label class="aminitiesLabelCls timeSlotLabel">Aminities:</label>


                    <div class="btn-group groupBtns aminitiesGroupBtns timeSlotGroupBtns" data-toggle="buttons">
                      <label class="btn btn-default " ng-repeat="aminity in aminities" ng-click="toggleSelection(aminity)" ng-checked="selection.indexOf(aminity) > -1">
                        <input type="checkbox" name="selectedaminities[]" value="{{aminity}}"> {{aminity}}
                      </label>
                      <!--
                                            <label class="btn timeSlotsPickBtns" ng-repeat="aminity in aminities">
                                                <input type="checkbox" name="selectedaminities[]" value="{{aminity}}" ng-checked="selection.indexOf(aminity) > -1" ng-click="toggleSelection(aminity)"> {{aminity}}
                                            </label>
-->
                    </div>
                  </form>
                </section>
                <div class="numOfParticipants" ng-if="selection.length>0">
                  <label>Num. of Participants:</label>
                  <input type="text" ng-model="event.participants" class="inputCls numTextCls">
                </div>

                <div class="filterTheConfRooms" ng-if="event.participants">

                  <div class="conf1 ">
                    <span>conf 1</span>
                    <div>
                      <span class="glyphicon glyphicon-phone-alt"></span>

                      <span class="glyphicon glyphicon-blackboard"></span>

                      <span class="glyphicon glyphicon-facetime-video"></span>
                    </div>

                  </div>

                  <div class="conf2 ">
                    <span>conf 1</span>
                    <div>
                      <span class="glyphicon glyphicon-phone-alt"></span>

                      <span class="glyphicon glyphicon-blackboard"></span>

                      <span class="glyphicon glyphicon-facetime-video"></span>
                    </div>
                  </div>


                  <div class="conf3 ">
                    <span>conf 3</span>
                    <div>
                      <span class="glyphicon glyphicon-phone-alt"></span>

                      <span class="glyphicon glyphicon-blackboard"></span>

                      <span class="glyphicon glyphicon-facetime-video"></span>
                    </div>
                  </div>

                </div>
              </div>
              <!--Tab 2  -->
              <div id="tab2" class="tab-pane fade">
                <h4 class="summaryCls">
                The user has booked the Conference room 1 from {{inp_event_time_from_hour}}:{{inp_event_time_from_minute}} AM to {{inp_event_time_to_hour}}:{{inp_event_time_to_minute}}.
              </h4>
                <div class="emailInputCls">
                  <label>Invite people:</label>
                  <tags-input ng-model="tags" placeholder="Add a Name">
                    <auto-complete source="loadTags($query)"></auto-complete>
                  </tags-input>
                     <!-- <p>Model: {{tags}}</p> -->

                     <div class="btnsCls">
                       <button type="button" class="btn btn-cust closeBtnCls" ng-click="close_addevent()" data-dismiss="modal">Close</button>
                       <button type="button" class="btn btn-success btn-cust saveBtnCls btn-2c" id="addevent_but" ng-click="sendEmail(eventdate,tags)">Send Email</button>
                     </div>

                </div>
              </div>

            </div>



            <!-- <div class="filterTheConfRooms">

            <div class="conf1 ">
              <span>conf 1</span>
              <div>
                <span class="glyphicon glyphicon-phone-alt"></span>

                <span class="glyphicon glyphicon-blackboard"></span>

                <span class="glyphicon glyphicon-facetime-video"></span>
              </div>

            </div>

            <div class="conf2 ">
              <span>conf 2</span>
              <div>
                <span class="glyphicon glyphicon-phone-alt"></span>

                <span class="glyphicon glyphicon-blackboard"></span>

                <span class="glyphicon glyphicon-facetime-video"></span>
              </div>
            </div>


            <div class="conf3 ">
              <span>conf 3</span>
              <div>
                <span class="glyphicon glyphicon-phone-alt"></span>

                <span class="glyphicon glyphicon-blackboard"></span>

                <span class="glyphicon glyphicon-facetime-video"></span>
              </div>
            </div>

          </div>  -->

            <div class="btnsCls" ng-disabled="event.participants">
              <button type="button" class="btn btn-cust closeBtnCls" ng-click="close_addevent()" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-success btn-cust saveBtnCls btn-2c" id="addevent_but" ng-click="saveEvent(eventdate)">Save</button>
            </div>
            <p class="errorToDisp" ng-if="failureAlert_ms">{{failureAlert_ms}}</p>
          </div>

        </div>
        <!-- <div class="modal-footer"> -->

        <!-- </div> -->
      </div>

    </div>
  </div>

  <!-- template -->
  <div ng-hide="customHide" class="col-md-12 collapse" id="hideAndShowDiv" ng-hide="hideEvent=='show'">
    <span id="#cal-slide-tick"></span>
    <div id="dayEvents" class="singleDayEventsCls">
      <section class="eachConfEvent">
        <h4>
          <!-- <span class="glyphicon glyphicon-plus addEventCls"></span> -->
        </h4>
        <div class="row myRow">
          <center ng-if="AllEvents.length==0">
            <h1>No Events Found</h1>
          </center>
          <table ng-if="AllEvents.length!=0">
            <tr>
              <th class="tableHead">
                By
              </th>
              <th class="tableHead">
                From
              </th>
              <th class="tableHead">
                To
              </th>
              <th class="tableHead">
                EventName
              </th>
              <th class="tableHead">
                Conference
              </th>
              <th>
              </th>
            </tr>
            <tr ng-repeat="x in AllEvents">
              <td class="tableColumn">{{ x.userName }}</td>
              <td class="tableColumn">
                {{ x.from | date:'hh:mm a'}}</td>
              <td class="tableColumn">{{ x.to | date:'hh:mm a'}}</td>
              <td class="tableColumn">{{ x.eventName }}</td>
              <td class="tableColumn">{{ x.conferenceRoomNo }}</td>
              <!-- <td>{{currentDate | date:'hh:mm:ss a'}}</td> -->
              <td>
                <span ng-if="userid==x.userId" class="glyphicon glyphicon glyphicon-pencil editEventCls" ng-click="deletEvent(x._id)"></span>

                <span ng-if="userid==x.userId" class="glyphicon glyphicon-remove-sign removeCls" ng-click="deletEvent(x._id)"></span>
              </td>
            </tr>

          </table>
        </div>

      </section>



    </div>
  </div>
</body>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/angular-messages.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="calender/controller.js"></script>
<script type="text/javascript" src="calender/directive.js"></script>
<script type="text/javascript" src="calender/services.js"></script>
<script type="text/javascript" src="login/logincntrl.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>

<script>document.write('<base href="' + document.location + '" />');</script>

    <script src="https://code.angularjs.org/1.2.28/angular-resource.min.js"></script>
    <script src="http://mbenford.github.io/ngTagsInput/js/ng-tags-input.min.js"></script>
</html>
